<%= turbo_stream.append "shipping_lines_list" do %>
  <div class="border p-4 rounded shadow" id="shipping_line_<%= @shipping_line.id %>">
    <h2 class="text-xl font-semibold"><%= @shipping_line.name %></h2>
    <div class="mt-2 space-x-2">
      <%= link_to "Ver Detalles", shipping_line_path(@shipping_line), class: "text-blue-500 hover:underline" %>
      <%= link_to "Editar", edit_shipping_line_path(@shipping_line), class: "text-yellow-500 hover:underline", data: { turbo_frame: "modal" } %>
      <%= button_to "Eliminar", shipping_line_path(@shipping_line), method: :delete, class: "text-red-500 hover:underline", data: { turbo_confirm: "Are you sure you want to delete this shipping line?" } %>
    </div>
  </div>
<% end %>

<%= turbo_stream.update "modal", "" %>